VITE_API_BASE_URL=http://localhost:3000/api
VITE_MS_CLIENT_ID=// TODO: Add Microsoft Identity Client ID
VITE_MS_TENANT_ID=// TODO: Add Microsoft Identity Tenant ID
VITE_MS_SCOPE=// TODO: Add Microsoft API scope (api://<client-id>/access_as_user)
VITE_AUTH_BYPASS=false
